
* {
    box-sizing: border-box;
    }

#container{
    display: grid;
    grid-template-columns: repeat(12, 8.33%);    
    margin: auto;
    max-width: 1200px;
    padding: 15px; 
    align-content: center;
    text-align: center;  
    }

/* grid movil*/

/* grid cabecera*/

#cabecera_izq {
    grid-column: 1 / 1;   
    padding: 15px;
    display: none;
    /*border: 1px solid red;*/
    }


#cabecera {
    grid-column: 1 / 13;
    padding: 15px;
    /*border: 1px solid red;*/
    }

#cabecera_der {
    grid-column: 1 / 1;
    padding: 15px;
    display: none;
    /*border: 1px solid red;*/
    }


#cabecera_bajo {
    grid-column: 1 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

/* grid botones*/

#boton_izq {
    grid-column: 1 / 5;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#boton_cliente {
    grid-column: 5 / 9;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#boton_centro_1 {
    grid-column: 9 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#boton_centro_2 {
    grid-column: 1 / 5;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#boton_empleado {
    grid-column: 5 / 9;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#boton_der {
    grid-column: 9 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }


#boton_bajo {
    grid-column: 1 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

/* grid redes*/

#redes_izq {
    grid-column: 1 / 1;   
    padding: 15px;
    display: none;
    /*border: 1px solid red;*/
    }

#redes {
    grid-column: 1 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#redes_der {
    grid-column: 1 / 1;   
    padding: 15px;
    display: none;
    /*border: 1px solid red;*/
    }


#redes_bajo {
    grid-column: 1 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

/* grid pie*/

#pie_logo {
    grid-column: 1 / 3;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#pie {
    grid-column: 3/ 11;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#pie_copy {
    grid-column: 11 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#formulario_credenciales {
    grid-column: 1 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
#gif_credenciales {
    grid-column: 1 / 13;   
    padding: 15px;
   /*border: 1px solid red;*/
    }  

/* grid navegación cliente*/
#nav_cliente_izq{
    grid-column: 1 / 3;   
    padding: 15px;
    display: none;    
    }
    
#nav_cliente{
    grid-column: 1 / 13;   
    padding: 15px;    
    }
    
#nav_cliente_der{
    grid-column: 11 / 13;   
    padding: 15px;
    display: none;    
    }
/* grid reparaciones cliente*/   
 
#reparaciones_izq{
    grid-column: 1 / 2;   
    padding: 15px;
    display: none;    
    }
    
#reparaciones{
    grid-column: 1 / 13;   
    padding: 15px;    
    }
    
#video_gtmotive{
    grid-column: 1 / 13;   
    padding: 15px;    
    }
    
#reparaciones_der{
    grid-column: 12 / 13;   
    padding: 15px; 
    display: none;   
    }

/* grid donde estamos cliente */

#donde_estamos_izq{
    grid-column: 1 / 2;   
    padding: 15px; 
    display: none;   
    }
       
#donde_estamos{
    grid-column: 1 / 13;   
    padding: 15px;    
    }
        
#foto_taller{
    grid-column: 1 / 13;   
    padding: 15px;    
    }
        
#donde_estamos_der{
    grid-column: 12 / 13;   
    padding: 15px;  
    display: none;  
    }

/* grid menú cliente mecánica */

#menu_mecanica{
    grid-column: 1 / 13;   
    padding: 15px; 
    /*border: 1px solid red; */     
    }
       
#tabla_precios_mecanica{
    grid-column: 1 / 13;   
    padding: 15px; 
    /*border: 1px solid red; */    
    }       

#foto_mecanica{
    grid-column: 1 / 13;   
    padding: 15px; 
    /*border: 1px solid red; */   
    }



/* grid Tablet*/

@media screen and (min-width: 600px) {

/* grid cabecera*/

#cabecera_izq {
    grid-column: 1 / 2;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
#cabecera {
    grid-column: 2 / 12;
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
#cabecera_der {
    grid-column: 12 / 13;
    padding: 15px;
    /*border: 1px solid red;*/
    } 
    
    
#cabecera_bajo {
    grid-column: 1 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
    
/* grid botones*/
#boton_izq {
    grid-column: 1 / 2;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
 
#boton_cliente {
    grid-column: 2 / 6;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
#boton_centro_1 {
    grid-column: 6 / 7;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
#boton_centro_2 {
    grid-column: 7 / 8;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
#boton_empleado {
    grid-column: 8 / 12;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
#boton_der {
    grid-column: 12 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
    
#boton_bajo {
    grid-column: 1 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
    
#redes_izq {
    grid-column: 1 / 2;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    

/* grid redes*/

#redes {
    grid-column: 2 / 12;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
#redes_der {
    grid-column: 12 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
    
#redes_bajo {
    grid-column: 1 / 13;   
    padding: 15px;
    display: none;
    /*border: 1px solid red;*/
    }
    
/* grid pie*/  

#pie_logo {
    grid-column: 1 / 3;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
#pie {
    grid-column: 3/ 11;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
#pie_copy {
    grid-column: 11 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

/* grid fromulario credenciales*/
#formulario_credenciales {
    grid-column: 1 / 7;   
    padding: 15px;
    /*border: 1px solid red;*/
    }
    
#gif_credenciales {
    grid-column: 7 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    } 

/* grid navegación cliente*/
#nav_cliente_izq{
    grid-column: 1 / 1;   
    padding: 15px;
    display: none;    
    }
    
#nav_cliente{
    grid-column: 1 / 13;   
    padding: 15px;    
    }
    
#nav_cliente_der{
    grid-column: 1 / 1;   
    padding: 15px;
    display: none;    
    }
/* grid reparaciones cliente*/   
 
#reparaciones_izq{
    grid-column: 1 / 2;   
    padding: 15px;
    display: none;    
    }
    
#reparaciones{
    grid-column: 1 / 7;   
    padding: 15px;    
    }
    
#video_gtmotive{
    grid-column: 7 / 13;   
    padding: 15px;    
    }
    
#reparaciones_der{
    grid-column: 12 / 13;   
    padding: 15px; 
    display: none;   
    }

/* grid donde estamos cliente */

#donde_estamos_izq{
    grid-column: 1 / 2;   
    padding: 15px; 
    display: none;   
    }
       
#donde_estamos{
    grid-column: 1 / 7;   
    padding: 15px;    
    }
        
#foto_taller{
    grid-column: 7 / 13;   
    padding: 15px;    
    }
        
#donde_estamos_der{
    grid-column: 12 / 13;   
    padding: 15px;  
    display: none;  
    }

/* grid menú cliente mecánica */

#menu_mecanica{
    grid-column: 1 / 5;   
    padding: 15px; 
    /*border: 1px solid red; */     
    }

#tabla_precios_mecanica{
    grid-column: 5 / 13;   
    padding: 15px; 
    /*border: 1px solid red; */     
    }
     
#foto_mecanica{
    grid-column: 1 / 13;   
    padding: 15px; 
    /*border: 1px solid red; */   
    }
    
   


}


/* grid pc*/

@media screen and (min-width: 850px) {

/* grid cabecera*/

#cabecera_izq {
    grid-column: 1 / 3;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#cabecera {
    grid-column: 3 / 11;
    padding: 15px;
    /*border: 1px solid red;*/
    }

#cabecera_der {
    grid-column: 11 / 13;
    padding: 15px;
    /*border: 1px solid red;*/
    }


#cabecera_bajo {
    grid-column: 1 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }


/* grid botones*/

#boton_izq {
    grid-column: 1 / 3;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#boton_cliente {
    grid-column: 3 / 6;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#boton_centro_1 {
    grid-column: 6 / 7;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#boton_centro_2 {
    grid-column: 7 / 8;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#boton_empleado {
    grid-column: 8 / 11;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#boton_der {
    grid-column: 11 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#boton_bajo {
    grid-column: 1 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

/* grid redes*/

#redes_izq {
    grid-column: 1 / 3;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#redes {
    grid-column: 3 / 11;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#redes_der {
    grid-column: 11 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }


#redes_bajo {
    grid-column: 1 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

/* grid pie*/

#pie_logo {
    grid-column: 1 / 3;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#pie {
    grid-column: 3/ 11;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#pie_copy {
    grid-column: 11 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#formulario_credenciales {
    grid-column: 1 / 7;   
    padding: 15px;
    /*border: 1px solid red;*/
    }

#gif_credenciales {
    grid-column: 7 / 13;   
    padding: 15px;
    /*border: 1px solid red;*/
    }    

#nav_cliente_izq{
    grid-column: 1 / 2;   
    padding: 15px;
    /*border: 1px solid red; */  
    }

#nav_cliente{
    grid-column: 2 / 12;   
    padding: 15px; 
    /*border: 1px solid red; */  
    }

#nav_cliente_der{
    grid-column: 12 / 13;   
    padding: 15px; 
    /*border: 1px solid red; */ 
    }

#reparaciones_izq{
    grid-column: 1 / 3;   
    padding: 15px;    
    }

#reparaciones{
    grid-column: 3 / 7;   
    padding: 15px;    
    }

#video_gtmotive{
    grid-column: 7 / 11;   
    padding: 15px;    
    }

#reparaciones_der{
    grid-column: 11 / 13;   
    padding: 15px;    
    }

#donde_estamos_izq{
    grid-column: 1 / 3;   
    padding: 15px; 
    /*border: 1px solid red;*/   
    }
   
#donde_estamos{
    grid-column: 3 / 7;   
    padding: 15px; 
    /*border: 1px solid red;*/  
    }
    
#foto_taller{
    grid-column: 7 / 11;   
    padding: 15px; 
    /*border: 1px solid red;*/  
    }
    
#donde_estamos_der{
    grid-column: 11 / 13;   
    padding: 15px; 
    /*border: 1px solid red;*/    
    }

/* grid menú cliente mecánica */

#menu_mecanica{
    grid-column: 1 / 3;   
    padding: 15px; 
    /*border: 1px solid red; */ 
    }

#foto_mecanica{
    grid-column: 8 / 13;   
    padding: 15px; 
    /*border: 1px solid red; */   
    }

#tabla_precios_mecanica{
    grid-column: 3 / 8;   
    padding: 15px; 
    /*border: 1px solid red; */   
    }
}    



/* damos un estilo al fondo */
body {
    /* Ubicación de la imagen */
    background-image: url("img/portada.jpg");                
                    
    
    /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */

    background-position: center center;

    /* Para que la imagen de fondo no se repita */

    background-repeat: no-repeat;

    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

    background-attachment: fixed;

    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

    background-size: cover;

    /* Se muestra un color de fondo mientras se está cargando la imagen

    de fondo o si hay problemas para cargarla */

    background-color: #C8CACA; 
    }

/* damos un estilo al título*/
#cabecera{
    color: #F1EEF5;
    text-align: center;
    font-size: 25px;
    opacity: 0.6;
    }

/* damos un estilo a los botones */
.button {
    border-radius: 10px;
    background-color: #F1EEF5; 
    color: #818384;
    font-size: 30px;
    padding: 25px 15px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    margin: 44px 22px;
    cursor: pointer;
    opacity: 0.3;
    border: 10px solid #0E8896;
    }

/* creamos efecto a los botones*/


.button:hover{
    background: #F1EEF5;
    color: #0E8896;
    opacity: 1.0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }  


#pie_logo{
    color: #F1EEF5;
    opacity: 0.6; 
    text-align: center;
    font-size: 15px;               
    }

#pie_copy{
    color: #F1EEF5;
    opacity: 0.6; 
    text-align: center;
    font-size: 15px;               
    }

#pie{
    color: #F1EEF5;
    opacity: 0.6; 
    text-align: center;
    font-size: 15px;          
    }

#gif_credenciales {
    opacity: 0.9; 
    text-align: center;
    font-size: 15px; 
    }
    
form {
    display: inline-block;
    text-align: left;
    color: #0E8896;
    background: #F2F2F2;
    font-size: 15px; 
    opacity: 0.8;
    }  

#reparaciones{    
    color: #FAFAFA;
    text-align: left;
    font-size: 14px;
    }


iframe {
    width: 100%;
    height: 100%;
    }

#barra{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #C7C8C8;                
    border-spacing: 5px;
    cursor: pointer;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    }

  
#mecanica{
    color: #818384;
    border: 10px solid #EF8B14;
        }

#mecanica:hover{
    background: #C7C8C8;
    color: #EF8B14;
    } 
    
#carroceria{
    color: #818384;
    border: 10px solid #E931BA;
    }
#carroceria:hover{
    background: #C7C8C8;
    color: #E931BA;
    }
   
#ventas{
    color: #818384;
    border: 10px solid #27AB23;
    }
    
#ventas:hover{
    background: #C7C8C8;
    color: #27AB23;
    }

#donde_estamos{    
    color: #FAFAFA;
    text-align: left;
    font-size: 14px;
    width: 100%;
    height: 100%;
    }

#foto_taller img {
    width: 100%;
    height: 100%;
    }

#menu_mecanica {
        text-align: left;
        width: 100%;
        height: 100%;        
        color: #C7C8C8;
        list-style:none;
        margin: 0;
        padding: 0;
        opacity: 0.7;
        overflow: auto;
        font-weight:bold;
        }                              
        
#menu_mecanica li a 
        {
        width: 100%;
        height: 100%;
        display: inline-block;
        color: #C7C8C8;
        font-weight:bold;
        background: #EF8B14;
        text-align: center;
        }
    
#menu_mecanica li a:hover
        {
        width: 100%;
        height: 100%;
        background: #C7C8C8;
        color: #EF8B14;
        font-weight:bold;
        text-align: center;
        }

#foto_mecanica {
    width: 100%;
    height: 100%;
    }

#tabla_precios_mecanica {
    width: 100%;
    height: 100%;
    }

ul{
    list-style:none; 
    color: #EF8B14;
    text-align: center;
    }

#tabla_precios_mecanica_pastillas{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

#tabla_precios_mecanica_pastillas td{
    border: 1px solid #818384;
    padding: 8px;
    color: #FFFFFF;
    }

#tabla_precios_mecanica_pastillas th{
    border: 1px solid #818384;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    }



#tabla_precios_mecanica_pastillas tr:hover {
    background-color: #EF8B14;
    color: #EF8B14;
    }